[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
mkdocs-git-revision-date-localized-plugin = "*"
textual = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.8"
